<title>家庭面签</title>
<div class="layui-breadcrumb layadmin-breadcrumb" lay-filter="layadmin-breadcrumb">
    <a lay-href="/">首页</a>
    <a>签约</a>
    <a><cite>家庭面签</cite></a>
</div>
<div class="layui-fluid" id="VIEW-sign-family">
    <div class="layui-card">
        <div class="layui-form layui-label-block-xs" lay-filter="sign-family-form" style="padding:30px">
            <div class="layui-form-item">
                <label class="layui-form-label">签约服务</label>
                <div class="layui-input-block" style="max-width:400px">
                    <script type="text/html" template lay-api="getSpkgList" lay-done="layui.form.render('select','sign-family-form')">
                        <select name="spkgId">
                            <option value="0">请选择签约服务包</option>
                            {{#  layui.each(d, function(index, item){ }}
                                <option value="{{item.id}}">{{item.title}}</option>
                            {{# }); }}
                        </select>
                    </script>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">签约凭证</label>
                <div class="layui-input-block" style="padding-top:5px">
                    <div style="margin-bottom: 10px">
                        <button type="button" class="layui-btn layui-btn-sm layui-btn-primary upload-front"><i class="layui-icon">&#xe64a;</i> 签约协议正面照片</button>
                    </div>
                    <div>
                        <button type="button" class="layui-btn layui-btn-sm layui-btn-primary upload-back"><i class="layui-icon">&#xe64a;</i> 签约协议反面照片</button>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">签约家庭</label>
                <div class="layui-input-block" style="padding-top:5px">
                    <button type="button" class="layui-btn layui-btn-sm layui-btn-primary open-search-family">选择家庭</button>
                    <table lay-filter="sign-family-table"></table>
                    <div class="table-word-text layui-word-aux layui-font-12" style="display:none">您可以点击居民的姓名、身份证号、联系电话进行修改</div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="sign-family-submit">立即提交</button>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
layui.use(['admin','table','helper','form','upload'], function(){
    var $ = layui.jquery
    ,admin = layui.admin
    ,helper = layui.helper
    ,form = layui.form

    ,view = $('#VIEW-sign-family')
    ,viewUploadFrontBtn = view.find('.upload-front')
    ,viewUploadBackBtn = view.find('.upload-back')
    ,viewOpenSearchFamily = view.find('.open-search-family')

    ,user = admin.data()['user']
    ,uploadData = {userId:user.userId}
    ,uploadFront = ''
    ,uploadBack = ''
    ,familyMembers = []
    ,tableFilter = 'sign-family-table';

    helper.upload({
        elem:viewUploadFrontBtn,
        data:uploadData,
        done:function(file){
            uploadFront = file.path
        }
    })
    helper.upload({
        elem:viewUploadBackBtn,
        data:uploadData,
        done:function(file){
            uploadBack = file.path
        }
    })
    var prevFamilyId = null;

    
    viewOpenSearchFamily.click(function(){
        POPUP_SEARCH_FAMILY_CALLBACK = function(data){
            if(data.FAMILYID == prevFamilyId) return;
            admin.get({
                api:'getFamilyMembers',
                data:{ familyId:data.FAMILYID },
                success:function(res){
                    familyMembers = res.data;
                    layui.table.render({
                        elem: '[lay-filter='+tableFilter+']',
                        data:familyMembers,
                        page:false,
                        size:'sm',
                        done:function(){
                            view.find('.table-word-text').show();
                            prevFamilyId = data.FAMILYID;
                        },
                        cols:[[
                            {field: 'Name', title: '姓名',width:100,edit:'text'},
                            {field: 'CardID', title:'身份证号',edit:'text',width:160},
                            {field: 'Telphone', title: '联系电话',width:120,edit:'text'},
                            {field: 'GenderCode', title: '性别',width:80,sort:true},
                            {field: 'Age', title: '年龄',width:80,sort:true,template:'<div></div>'},
                            {field: 'Birthday', title: '出生日期',width:120,sort:true},
                            {field: 'Lasthldate', title: '最后体检日期',width:130,sort:true},
                            {field: 'CurrentAddress', title: '现住址'},
                        ]]
                    })
                }
            })
        }

        admin.popup({
            url:'popup/search_family'
        })
    })

    
    //监听单元格编辑
    layui.table.on('edit('+tableFilter+')', function(params){
        if(params.field == 'Telphone' && !helper.isPhone(params.value)){  
            layer.msg('请输入正确的手机号');
            params.prev();
        }
        else if(params.field == 'CardID' && !helper.isIdcard(params.value)){
            layer.msg('请输入正确的身份证号码');
            params.prev();
        }
        else if(params.field == 'Name' && params.value.length == 0){
            layer.msg('请输入正确的姓名');
            params.prev();
        }
    });


    form.on('submit(sign-family-submit)',function(data){
        if(data.field.spkgId == 0){
            layer.msg('请选择签约服务');
            return false;
        }
        if(uploadFront == ''){
            layer.msg('请上传 签约协议正面 照片');
            return false;
        }
        if(uploadBack == ''){
            layer.msg('请上传 签约协议反面 照片');
            return false;
        }
        data.field.front = uploadFront;
        data.field.back = uploadBack;
        data.field.idCards = 
        data.field.names = 
        data.field.phones = '';

        function editErr(name,msg){
            return '家庭成员 '+name+' 的 '+msg+' 有误'
        }
        layui.each(familyMembers,function(index,item){
            if(!helper.isIdcard(item.CardID)){
                layer.msg(editErr(item.Name,'身份证号'));
                return true;
            }
            if(!helper.isPhone(item.Telphone)){
                layer.msg(editErr(item.Name,'手机号'));
                return true;
            }
            if(item.Name.length == 0){
                layer.msg(editErr(item.Name,'姓名'));
                return true;
            }
            var pre = ',';
            if(index == 0) pre = '';
            data.field.idCards += pre + (item.CardID || '');
            data.field.phones += pre + (item.Telphone || '');
            data.field.names += pre + (item.Name || '');
        })

        admin.post({
            api:'signFamily',
            data:data.field,
            success:function(res){
                switch(res.status){
                    case 0:
                        admin.modal.success('签约成功...');
                        break;
                    case 10:
                        var err = {
                            3:'身份证格式错误',
                            11:'已存在签约记录',
                            22 :"在服务包下已存在签约申请",
                            25:'最小年龄和服务包不匹配',
                            26:'最大年龄和服务包不匹配',
                            27:'性别和服务包不匹配'
                        }
                        var content = '';
                        layui.each(res.data,function(id,code){
                            content += '<p style="line-height:30px;border-bottom:1px solid #f6f6f6;padding:5px 10px;">身份证号码：' + id + '<span class="layui-c-red layui-right layui-font-12">' + err[code] + '</span>' +'</p>';
                        })
                        admin.modal.warning(content,{title:'签约的时候遇到点问题'});
                }
            }
        })

        return false;
    })

})
</script>