<div class="layui-breadcrumb layadmin-breadcrumb" lay-filter="layadmin-breadcrumb">
    <a lay-href="/">首页</a>
    <a>签约</a>
    <a><cite>记录管理</cite></a>
</div>
<div class="layui-fluid" id="VIEW-sign-log">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form" lay-filter="sign-log-filter">
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-md2 layui-col-xs4">
                        <script type="text/html" template lay-api="getSpkgList" lay-done="layui.form.render('select','sign-log-filter')">
                            <select name="spkgId">
                                <option value="">按服务包</option>
                                {{#  layui.each(d, function(index, item){ }}
                                    <option value="{{item.id}}">{{item.title}}</option>
                                {{# }); }}
                            </select>
                        </script>
                    </div>
                    <div class="layui-col-md2 layui-col-xs4">
                        <select name="status">
                            <option value="">按签约有效期</option>
                            <option value="0">合约期内</option>
                            <option value="1">合约期外</option>
                        </select>
                    </div>
                    <div class="layui-col-md2 layui-col-xs4">
                        <select name="type">
                            <option value="">按签约形式</option>
                            <option value="1">在线签约</option>
                            <option value="2">个人面签</option>
                            <option value="3">语音签约</option>
                            <option value="4">家庭面签</option>
                        </select>
                    </div>
                    <div class="layui-col-md6 layui-col-xs12 layui-relative">
                        <input class="layui-input" type="text" name="code" placeholder="请输入名字或身份证号" autocomplete="off">
                        <button lay-submit lay-filter="sign-log-filter-submit" class="layui-btn layui-btn-normal layui-absolute-right" style="top:5px"><i class="layui-icon">&#xe615;</i> 搜索</button>
                    </div>
                </div>
            </div>
        </div>
        <table class="layui-hide" lay-filter="sign-log-table"></table>
    </div>
</div>
<script type="text/html" id="TPL__signing-table-action">
    {{# var nowtime = helper.dateFormat(new Date(),'YYYY/MM/D') }}
    {{# if(helper.dateDiff(d.serviceEndTime,nowtime) >= 30 ){ }}
        <a href="javascript:void(0);" class="layui-btn layui-btn-danger layui-btn-disabled layui-btn-xs" title="签约到期前 30 天内才可续约">续约</a>
    {{# }else{ }}
        <a lay-event="renew" class="layui-btn layui-btn-danger layui-btn-xs">续约</a>
    {{# } }}
</script>
<script>
layui.use(['table','util','helper','form'], function(){
    helper = layui.helper;
    
    var $ = layui.jquery;
    var table = layui.table;
    var form = layui.form;
    var tableFilter = 'sign-log-table';

    var tableCls = table.render({
        api:'signLog',
        elem: '[lay-filter="'+tableFilter+'"]',
        height:'full-175',
        cols:[[
            {title: '姓名',field: 'name', width:100,templet:'<p><span title="{{d.user.name}}">{{d.user.name}}</span></p>'},
            {title: '年龄',field: 'age',width:66,templet:'<p>{{ helper.getAge(d.user.birthDay) }} 岁</p>'},
            {title: '性别',field: 'sex',align:'center',width:58, templet:'<p>{{# if(d.user.gender == 1){ }} <span class="layui-c-blue">男</span> {{# }else{ }} <span class="layui-c-red">女</span> {{# } }}</p>'},
            {title: '住址',templet:'<p>{{ d.user.address || "" }}</p>'},
            {title: '签约服务包',width: 210,field: 'servicepack',templet:'<p>{{ d.spkg === null ? "" : d.spkg.title }}</p>'} ,
            {title: '签约时间',width:108,templet:'<p><span class="layui-c-gray layui-font-12" title="{{d.signedTime}}">{{ helper.dateDay(d.signedTime) }}</span></p>'},
            {title: '结束时间',width:108,templet:'<p><span class="layui-c-gray layui-font-12" title="{{d.serviceEndTime}}">{{ helper.dateDay(d.serviceEndTime) }}</span></p>'},
            {title: '操作',width:70,toolbar:'#TPL__signing-table-action'}
        ]]
    })

    table.on('tool('+tableFilter+')', function(e){
        if(e.event == 'renew'){
            alert('暂无接口')
        }  
    })

    form.on('submit(sign-log-filter-submit)',function(data){
        tableCls.reload({
            where:data.field
        });
    })
    
})
</script>