<title>首页</title>
<div class="layui-fluid" id="VIEW-module-modal" style="margin-top:15px">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-lg12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <p>这是首页</p>
                </div>
            </div>
        </div>
        <div class="layui-col-lg12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <h2 style="padding:15px 0">Layui 版本：2.4.0 <a class="layui-font-12 layui-c-blue" target="__blank" href="https://www.layui.com/doc/base/changelog.html">更新日志</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>