<div class="layui-fluid" id="VIEW-icon-index" lay-title="404">
    <div class="layui-row layui-col-space10" style="margin-top:100px">
        <div class="layui-col-xs3 layui-col-xs-offset2">
            <img src="https://gw.alipayobjects.com/zos/rmsportal/KpnpchXsobRgLElEozzI.svg" alt="" width="85%"/>
        </div>
        <div class="layui-col-xs7">
            <h1 style="font-size: 60px">404</h1>
            <h2 class="nepadmin-mar-b20 nepadmin-c-gray">抱歉，你访问的页面不存在</h2>
            <button class="layui-btn layui-btn-normal">返回首页</button>
        </div>
    </div>
</div>