<div class="layui-fluid nepadmin-pad0 nepadmin-mar0" id="VIEW-list-order" lay-title="卡片列表">
    <div class="layui-row">
        <div class="layui-col-xs12  nepadmin-mar-b10">
            <div class="layui-card">
                <div class="layui-card-body nepadmin-pad30">
                    <div class="layui-row">
                        <div class="layui-col-lg12"></div>
                        <h2 class="nepadmin-pad-b10">卡片列表</h2>
                        <p class="nepadmin-c-gray">如果实现单行文本的溢出显示省略号同学们应该都知道用text-overflow:ellipsis属性来，当然还需要加宽度width属来兼容部分浏览。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space10 nepadmin-pad20">
            <div class="layui-col-sm3 layui-col-xs12">
                <div class="layui-card">
                    <div class="layui-card-cover">
                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1537457040159&di=6f9912045bfe396e5b49526137472e37&imgtype=0&src=http%3A%2F%2Fattach.zhiyoo.com%2Fforum%2F201303%2F30%2F16392363kvt13er39xk1k3.jpg" alt="" />
                    </div>
                    <div class="layui-card-header">霸气的平头哥名号里藏着阿里怎样的“芯”思？</div>
                    <div class="layui-card-body">
                        在相当长的时间里，阿里的基因是电商，而不是技术。但现在情况显然发生了改变。马云自然看到了打造生态的重要性，而半导体芯片在阿里生态中处于上游...
                    </div>
                    <div class="layui-card-footer">
                        <span class="nepadmin-fl nepadmin-font-12 nepadmin-c-gray">2 hours ago</span>
                        <div class="layui-btn layui-btn-sm layui-btn-primary">操作一</div>
                        <div class="layui-btn layui-btn-sm layui-btn-primary">操作二</div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm3 layui-col-xs12">
                <div class="layui-card">
                    <div class="layui-card-header">霸气的平头哥名号里藏着阿里怎样的“芯”思？</div>
                    <div class="layui-card-body">
                        在相当长的时间里，阿里的基因是电商，而不是技术。但现在情况显然发生了改变。马云自然看到了打造生态的重要性，而半导体芯片在阿里生态中处于上游...
                    </div>
                    <div class="layui-card-footer">
                        <div class="layui-btn layui-btn-sm layui-btn-primary">操作一</div>
                        <div class="layui-btn layui-btn-sm layui-btn-primary">操作二</div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm3 layui-col-xs12">
                <div class="layui-card">
                    <div class="layui-card-header">霸气的平头哥名号里藏着阿里怎样的“芯”思？</div>
                    <div class="layui-card-body">
                        在相当长的时间里，阿里的基因是电商，而不是技术。但现在情况显然发生了改变。马云自然看到了打造生态的重要性，而半导体芯片在阿里生态中处于上游...
                    </div>
                    <div class="layui-card-footer">
                        <div class="layui-btn layui-btn-sm layui-btn-primary">操作一</div>
                        <div class="layui-btn layui-btn-sm layui-btn-primary">操作二</div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm3 layui-col-xs12">
                <div class="layui-card">
                    <div class="layui-card-header">霸气的平头哥名号里藏着阿里怎样的“芯”思？</div>
                    <div class="layui-card-body">
                        在相当长的时间里，阿里的基因是电商，而不是技术。但现在情况显然发生了改变。马云自然看到了打造生态的重要性，而半导体芯片在阿里生态中处于上游...
                    </div>
                    <div class="layui-card-footer">
                        <div class="layui-btn layui-btn-sm layui-btn-primary">操作一</div>
                        <div class="layui-btn layui-btn-sm layui-btn-primary">操作二</div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm3 layui-col-xs12">
                <div class="layui-card">
                    <div class="layui-card-header">霸气的平头哥名号里藏着阿里怎样的“芯”思？</div>
                    <div class="layui-card-body">
                        在相当长的时间里，阿里的基因是电商，而不是技术。但现在情况显然发生了改变。马云自然看到了打造生态的重要性，而半导体芯片在阿里生态中处于上游...
                    </div>
                    <div class="layui-card-footer">
                        <div class="layui-btn layui-btn-sm layui-btn-primary">操作一</div>
                        <div class="layui-btn layui-btn-sm layui-btn-primary">操作二</div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm3 layui-col-xs12">
                <div class="layui-card">
                    <div class="layui-card-header">霸气的平头哥名号里藏着阿里怎样的“芯”思？</div>
                    <div class="layui-card-body">
                        在相当长的时间里，阿里的基因是电商，而不是技术。但现在情况显然发生了改变。马云自然看到了打造生态的重要性，而半导体芯片在阿里生态中处于上游...
                    </div>
                    <div class="layui-card-footer">
                        <div class="layui-btn layui-btn-sm layui-btn-primary">操作一</div>
                        <div class="layui-btn layui-btn-sm layui-btn-primary">操作二</div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm3 layui-col-xs12">
                <div class="layui-card">
                    <div class="layui-card-header">霸气的平头哥名号里藏着阿里怎样的“芯”思？</div>
                    <div class="layui-card-body">
                        在相当长的时间里，阿里的基因是电商，而不是技术。但现在情况显然发生了改变。马云自然看到了打造生态的重要性，而半导体芯片在阿里生态中处于上游...
                    </div>
                    <div class="layui-card-footer">
                        <div class="layui-btn layui-btn-sm layui-btn-primary">操作一</div>
                        <div class="layui-btn layui-btn-sm layui-btn-primary">操作二</div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm3 layui-col-xs12">
                <div class="layui-card">
                    <div class="layui-card-header">霸气的平头哥名号里藏着阿里怎样的“芯”思？</div>
                    <div class="layui-card-body">
                        在相当长的时间里，阿里的基因是电商，而不是技术。但现在情况显然发生了改变。马云自然看到了打造生态的重要性，而半导体芯片在阿里生态中处于上游...
                    </div>
                    <div class="layui-card-footer">
                        <div class="layui-btn layui-btn-sm layui-btn-primary">操作一</div>
                        <div class="layui-btn layui-btn-sm layui-btn-primary">操作二</div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm3 layui-col-xs12">
                <div class="layui-card">
                    <div class="layui-card-header">霸气的平头哥名号里藏着阿里怎样的“芯”思？</div>
                    <div class="layui-card-body">
                        在相当长的时间里，阿里的基因是电商，而不是技术。但现在情况显然发生了改变。马云自然看到了打造生态的重要性，而半导体芯片在阿里生态中处于上游...
                    </div>
                    <div class="layui-card-footer">
                        <div class="layui-btn layui-btn-sm layui-btn-primary">操作一</div>
                        <div class="layui-btn layui-btn-sm layui-btn-primary">操作二</div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm3 layui-col-xs12">
                <div class="layui-card">
                    <div class="layui-card-header">霸气的平头哥名号里藏着阿里怎样的“芯”思？</div>
                    <div class="layui-card-body">
                        在相当长的时间里，阿里的基因是电商，而不是技术。但现在情况显然发生了改变。马云自然看到了打造生态的重要性，而半导体芯片在阿里生态中处于上游...
                    </div>
                    <div class="layui-card-footer">
                        <div class="layui-btn layui-btn-sm layui-btn-primary">操作一</div>
                        <div class="layui-btn layui-btn-sm layui-btn-primary">操作二</div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm3 layui-col-xs12">
                <div class="layui-card">
                    <div class="layui-card-header">霸气的平头哥名号里藏着阿里怎样的“芯”思？</div>
                    <div class="layui-card-body">
                        在相当长的时间里，阿里的基因是电商，而不是技术。但现在情况显然发生了改变。马云自然看到了打造生态的重要性，而半导体芯片在阿里生态中处于上游...
                    </div>
                    <div class="layui-card-footer">
                        <div class="layui-btn layui-btn-sm layui-btn-primary">操作一</div>
                        <div class="layui-btn layui-btn-sm layui-btn-primary">操作二</div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm3 layui-col-xs12">
                <div class="layui-card">
                    <div class="layui-card-header">霸气的平头哥名号里藏着阿里怎样的“芯”思？</div>
                    <div class="layui-card-body">
                        在相当长的时间里，阿里的基因是电商，而不是技术。但现在情况显然发生了改变。马云自然看到了打造生态的重要性，而半导体芯片在阿里生态中处于上游...
                    </div>
                    <div class="layui-card-footer">
                        <div class="layui-btn layui-btn-sm layui-btn-primary">操作一</div>
                        <div class="layui-btn layui-btn-sm layui-btn-primary">操作二</div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm3 layui-col-xs12">
                <div class="layui-card">
                    <div class="layui-card-header">霸气的平头哥名号里藏着阿里怎样的“芯”思？</div>
                    <div class="layui-card-body">
                        在相当长的时间里，阿里的基因是电商，而不是技术。但现在情况显然发生了改变。马云自然看到了打造生态的重要性，而半导体芯片在阿里生态中处于上游...
                    </div>
                    <div class="layui-card-footer">
                        <div class="layui-btn layui-btn-sm layui-btn-primary">操作一</div>
                        <div class="layui-btn layui-btn-sm layui-btn-primary">操作二</div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm3 layui-col-xs12">
                <div class="layui-card">
                    <div class="layui-card-header">霸气的平头哥名号里藏着阿里怎样的“芯”思？</div>
                    <div class="layui-card-body">
                        在相当长的时间里，阿里的基因是电商，而不是技术。但现在情况显然发生了改变。马云自然看到了打造生态的重要性，而半导体芯片在阿里生态中处于上游...
                    </div>
                    <div class="layui-card-footer">
                        <div class="layui-btn layui-btn-sm layui-btn-primary">操作一</div>
                        <div class="layui-btn layui-btn-sm layui-btn-primary">操作二</div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm3 layui-col-xs12">
                <div class="layui-card">
                    <div class="layui-card-header">霸气的平头哥名号里藏着阿里怎样的“芯”思？</div>
                    <div class="layui-card-body">
                        在相当长的时间里，阿里的基因是电商，而不是技术。但现在情况显然发生了改变。马云自然看到了打造生态的重要性，而半导体芯片在阿里生态中处于上游...
                    </div>
                    <div class="layui-card-footer">
                        <div class="layui-btn layui-btn-sm layui-btn-primary">操作一</div>
                        <div class="layui-btn layui-btn-sm layui-btn-primary">操作二</div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs12 nepadmin-tc">
                <div id="test1"></div>
            </div>
        </div>
        
    </div>
</div>
<script>
layui.use('laypage', function(laypage){
    laypage.render({
        elem: 'test1',
         //数据总数，从服务端得到
        count: 2000,
        groups:10,
        jump: function(obj, first){
            console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
            console.log(obj.limit); //得到每页显示的条数
            //首次不执行
            if(!first){
            }
        }
    });
});
</script>